#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.dofus {
  height: 100px;
  width: 100px;
}

.oeufs {
  margin-top: 50px;
}

.card-img {
  width: 100%;
  height: 300px;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: inherit;
  box-shadow: inherit;
}

.containerDofus {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.card-cra,
.card-eca,
.card-eni,
.card-enu,
.card-feca,
.card-iop,
.card-osa,
.card-panda,
.card-sacri,
.card-sadi,
.card-sram,
.card-xel {
  width: 300px;
  height: auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 0px 0px 5px gray;
}

.card-cra {
  background-color: #e49922;
}

.card-eca {
  background-color: #526cb8;
}

.card-eni {
  background-color: #9b9802;
}

.card-enu {
  background-color: #665943;
}

.card-feca {
  background-color: #fc9827;
}

.card-iop {
  background-color: #fe6027;
}

.card-osa {
  background-color: #474e7c;
}

.card-panda {
  background-color: #6a6545;
}

.card-sacri {
  background-color: #b09e3f;
}

.card-sadi {
  background-color: #afc114;
}

.card-sram {
  background-color: #7177bb;
}

.card-xel {
  background-color: #6470c2;
}

.img-element {
  height: 25px;
  width: 25px;
}

.containerCara {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.number {
  margin-bottom: 5px;
}

.stats {
  display: flex;
  align-items: center;
  gap: 10px;
}

.weapon {
  width: 100px;
  height: 100px;
}

.sorts {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card-grozilla,
.card-grasmera,
.card-fan,
.card-ougah,
.card-qutan,
.card-ily,
.card-croca,
.card-krala,
.card-kimbo {
  width: 300px;
  height: auto;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 0px 0px 5px gray;
}

.card-grozilla {
  background-color: #585249;
}

.card-grasmera {
  background-color: #8a8573;
}

.card-fan {
  background-color: #76933d;
}

.card-ougah {
  background-color: #b08f46;
}

.card-qutan {
  background-color: #c8ab37;
}

.card-ily {
  background-color: #c6cbee;
}

.card-croca {
  background-color: #7e0000;
}

.card-krala {
  background-color: #b07601;
}

.card-kimbo {
  background-color: #a44c12;
}
